/* Importing font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

/* Table of Contents
	1. UNIVERSAL SELECTORS
	2. HEADERS (TITLE/LEVEL)
	3. GAME UI
	4. BUTTONS
	5. GAME OVER
	6. MEDIA QUERY 
*/

/* 1.  ------------------------------UNIVERSAL SELECTORS---------------------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--green-color: #a0d568;
	--red-color: #ed5564;
	--blue-color: #4fc1e8;
	--yellow-color: #ffce54;
	--default-color: #ac92eb;
}
body {
	background-color: var(--default-color);
	font-family: "Ubuntu", sans-serif;
	color: #fff;
	text-align: center;
}

/* 2.  ------------------------------HEADERS---------------------------------------------------*/
.title {
	padding-top: 1rem;
	font-size: 3rem;
}
.level {
	font-size: 1.2rem;
}

/* 3.  ------------------------------GAME UI---------------------------------------------------*/
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 2rem;
	color: #fff;
}

/* 4.  ------------------------------BUTTONS---------------------------------------------------*/
.btn {
	border-radius: 25px;
	border: 5px solid #fff;
	cursor: pointer;
	height: 150px;
	width: 350px;
	margin: 1.3rem;
}
.btn:hover {
	box-shadow: 0px 0px 20px #fff;
}
.green-btn {
	background-color: var(--green-color);
}
.red-btn {
	background-color: var(--red-color);
}
.blue-btn {
	background-color: var(--blue-color);
}
.yellow-btn {
	background-color: var(--yellow-color);
}
.green-btn:hover {
	background-color: #7ec433;
}
.red-btn:hover {
	background-color: #f83649;
}
.blue-btn:hover {
	background-color: #0face0;
}
.yellow-btn:hover {
	background-color: #e9b42d;
}

/* 5.  ------------------------------GAME OVER---------------------------------------------------*/
.game-over {
	background-color: var(--red-color);
}

/* 6. --------------------------------------MEDIA QUERY---------------------------------------------*/
@media (max-width: 700px) {
	.title {
		font-size: 2rem;
	}
	.btn {
		height: 100px;
		width: 150px;
	}
}
